@import "normalize";

body {
  background-color: #70ba94;
  display: flex;
  justify-content: center;
}

#app {
  display: flex;
  flex-direction: column;
  width: 300px;
  align-items: center;
}

#form {
  display: flex;
  flex-direction: column;
}

#controls {
  display: flex;
  justify-content: space-between;
}

#commit-output {
  border-style: solid;
  padding: 3px;
  max-width: 300px;
  overflow: auto;
}

.framed {
  border-style: solid;
  padding: 3px;
  border-color: black;
  border-width: 2px;
  margin: 1px;
  margin-bottom: 5px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
